.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
}

.match-game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .match-game-container {
    padding: 72px;
  }
}

.image {
  width: 260px;
  height: 160px;
  border-radius: 4px;
}

@media screen and (min-width: 576px) {
  .image {
    width: 380px;
    height: 220px;
  }
}

@media screen and (min-width: 768px) {
  .image {
    width: 450px;
    height: 280px;
  }
}

@media screen and (min-width: 992px) {
  .image {
    width: 600px;
    height: 350px;
  }
}

.tabs-list {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.match-items-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .match-items-list {
    width: 80%;
    max-width: 700px;
  }
}
