.score-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
  background-size: cover;
  width: 80%;
  border-radius: 8px;
  margin-left: 48px;
}

@media screen and (min-width: 992px) {
  .score-card {
    background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
    margin-left: 96px;
  }
}

.trophy-img {
  width: 80%;
  margin-top: 148px;
}

@media screen and (min-width: 992px) {
  .trophy-img {
    width: 60%;
    margin-top: 300px;
  }
}

.your-score-heading {
  font-family: 'Roboto';
  font-size: 28px;
  color: #ffffff;
  font-weight: 400;
  margin: 0;
}

.your-score {
  font-family: 'roboto';
  font-size: 40px;
  color: #ffffff;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}

.play-again-btn {
  width: 180px;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-family: 'roboto';
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  background-color: #cf60c8;
  margin-bottom: 48px;
  padding: 0;
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
}

.reset-icon {
  height: 35px;
  width: 35px;
  margin: 10px;
}
